registry=https://registry.npmjs.org/
@webfx:registry=http://nas:32768
@webfx-core:registry=http://nas:32768
@webfx-http:registry=http://nas:32768
@webfx-middleware:registry=http://nas:32768
@webfx-oauth:registry=http://nas:32768
@webfx-request:registry=http://nas:32768
@webfx-server:registry=http://nas:32768
