registry=https://registry.npmjs.org/
@webfx:registry=http://localhost:4873/
@webfx-http:registry=http://localhost:4873/
@webfx-core:registry=http://localhost:4873/
@webfx-server:registry=http://localhost:4873/
@webfx-middleware:registry=http://localhost:4873/
@webfx-request:registry=http://localhost:4873/
